<header class="desktop">

	<div><%= link_to(image_tag("fvclogo2.png"), main_app.root_url, :class => 'icon_header') %></div>

	<div class="header_text">
		<ul>
			<li><%= link_to(image_tag("AboutUs.png", :onMouseover => "src='/assets/AboutUsa-e6eae8a154e178b105d2f367ac442e97.png';", :onMouseout => "src='/assets/AboutUs-59f1f4bbac152dd0ed905b516b4b94de.png';"), about_path, :class => 'about_us_header') %></li>
			<li><%= link_to(image_tag("OurTeam.png", :onMouseover => "src='/assets/OurTeama-ee4b28e557dd80d8f034ebbe0fc993ef.png';", :onMouseout => "src='/assets/OurTeam-adc3106dd04517361e802524612c238c.png';"), team_path, :class => 'our_team_header') %></li>
			<li><%= link_to(image_tag("ContactUs.png", :onMouseover => "src='/assets/ContactUsa-c32003a802edfb935555ce241b6c89af.png';", :onMouseout => "src='/assets/ContactUs-62546176b6ca2b15bfba83b5f07e9d0c.png';"), contact_path, :class => 'contact_us_header') %></li> 
		</ul>
	</div>
</header>