<% @page_title = "About Us" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				About Foundation View Capital 
			</p>
			<p class="body_text">
				Foundation View Capital Management, LLC is an indirect majority owned subsidiary of Institutional Financial Markets, Inc. (“IFMI”).  IFMI is a NYSE MKT listed financial services company specializing in fixed income markets.  IFMI was founded in 1999 as an investment firm focused on small-cap banking institutions, but has grown to provide an expanding range of asset management and capital markets services.
			</p>
			<p class="body_text">
				IFMI’s asset management business manages assets primarily through investment funds, managed accounts and collateralized debt obligations.  IFMI’s capital markets business consists of fixed income sales, trading, and financing as well as new issue placements in corporate and securitized products, and advisory services, operating primarily through IFMI’s subsidiaries, J.V.B. Financial Group, LLC (<%= link_to 'www.jvbfinancial.com', "https://www.jvbfinancial.com", :target => '_blank' %>) in the United States and Cohen & Company Financial Limited (<%= link_to 'www.cohenandcompany.com', "http://www.cohenandcompany.com", :target => '_blank' %>) in Europe.
			</p>
		</div>
	</div>