<% @page_title = "About Us" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				About FinTech  
			</p>
			<p class="body_text">
				Investment in financial services technology, which is sometimes referred to as “fintech,” has gone through a metamorphosis in recent years. Global investment in fintech has increased from $3.0 billion in 2013 to $19.1 billion 2015. In the first quarter of 2016, global fintech investments totaled $5.1 billion, up 67% on the first quarter of 2015. Global fintech investments are estimated to reach $46 billion by 2020.  
			</p>
			<p class="body_text">
				The industry, which was once focused solely on back office and middle office functions, process improvement, and providing cost efficiencies, has expanded to include front office functions, where the focus is on providing a convenient internet-enabled interface between a financial institution and its customers through which the customers can access financial services and products offered by the institution and manage their financial affairs, for example, in integrated bill-paying services in reloadable pre-paid cards. The industry also offers financial institutions ways to expand their customer acquisition and permits the creation of new financial services platforms, such as person to person lending.
			</p>
			<p class="title_text">
				Our Recent Success
			</p>
			<p class="body_text">
				<%= link_to 'CardConnect Completes Merger with FinTech Acquisition Corp.', "https://cardconnect.com/company/news/completes-merger-fintech-acquisition-corp", :target => '_blank' %> 
			</p>
			<p class="body_text">
				<%= link_to "CardConnect Investor Presentation", asset_path("cardconnect-investor-presentation-2016.pdf"), :target => '_blank' %>
			</p>
		</div>
	</div>