<% @page_title = "Contact Us" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				Contact Information   
			</p>
			<p class="city_text">
				Contact Us
			</p>
			<p class="address_text">
				Email: <%= mail_to "info@foundationviewcapital.com" %>
			</p>
			<p class="address_spacing_text">
				Phone: (646) 495-7473
			</p>
			<p class="city_text">
				New York Office
			</p>
			<p class="address_text">
				712 Fifth Avenue
			</p>
			<p class="address_text">
				Floor 8
			</p>
			<p class="address_text">
				New York, NY 10019
			</p>
		</div>
	</div>