<% @page_title = "Contact Us" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				Contact Us   
			</p>
			<p class="body_text">
				We are consistently pursuing new investment and partnership opportunities in the financial technology space. If you are an investor, business leader, or investment bank, we welcome you to connect with us about potential opportunities.
			</p>
			<p class="body_text">
				Feel free to contact us at <%= mail_to "info@ftspac.com" %>
			</p>
			<p class="city_text">
				New York
			</p>
			<p class="address_text">
				712 Fifth Avenue
			</p>
			<p class="address_text">
				Floor 8
			</p>
			<p class="address_text">
				New York, NY 10019
			</p>
			<p class="city_text">
				Philadelphia
			</p>
			<p class="address_text">
				Cira Center
			</p>
			<p class="address_text">
				Suite 1703
			</p>
			<p class="address_text">
				2929 Arch Street
			</p>
			<p class="address_text">
				Philadelphia, PA 19104
			</p>
			<p class="city_text">
				San Francisco
			</p>
			<p class="address_text">
				1480 64th Street
			</p>
			<p class="address_text">
				Suite 150
			</p>
			<p class="address_spacing_text">
				Emeryville, CA 94608
			</p>
		</div>
	</div>