<% @page_title = "Home" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				Foundation View Capital Management
			</p>
			<p class="body_text">
				Foundation View Capital Management, LLC ("Foundation View Capital") is a New York-based alternative asset manager, focused on Collateralized Loan Obligations ("CLOs") and special opportunities in structured credit products.
			</p>
			<p class="body_text">	
				Our primary investment objective is to generate high current income; our secondary objective is to generate capital appreciation.
			</p>
			<p class="body_text">
				Foundation View Capital Management uses a differentiating investment approach that is driven by a combination of careful manager selection, active participation in the origination process, and optimization of various structural features to benefit our investors.
			</p>
		</div>
	</div>