<% @page_title = "Home" %>

	<div class="wide_content">
		<div class="body">
			<p class="title_text">
				Welcome 
			</p>
			<p class="body_text">
				FinTech Acquisition Corp. and our management intend to raise a series of blank check companies formed for the purpose of effecting mergers, capital stock exchanges, asset acquisitions, stock purchases, reorganizations or similar business combinations with businesses in the financial technology sector.
			</p>
			<p class="body_text">	
				Since February, 2014, we have concentrated our efforts in identifying businesses which provide disruptive technological innovation to the financial services industry, with particular emphasis on businesses that provide data processing; transactional and data security; rewards, loyalty, and consumer engagement platforms by which financial services engage their clients and market and provide services to them; digital marketing; and payment processing services.
			</p>
			<p class="body_text">
				In July of 2016, FinTech Acquisition Corp. completed our first venture in the form of a business combination with CardConnect Corp., a leading provider of payment processing and technology solutions.
			</p>
			<p class="body_text">
				We continue to seek acquisitions of established businesses with consistent and growing revenues that will benefit from the transition from a private to a public company. Our optimal investments are in companies valued at $300 million to $800 million. 
			</p>
		</div>
	</div>