/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html {
 	height: 100% ;
 	font-family: 'Calibri';
 	color: black;
 }

 .desktop {
    min-width: 10000px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(7, 135, 201, 1);
    height: 50px;
    top: 0px;
    border-bottom: 2.5px solid rgba(34, 74, 124, 1);
    position: fixed;
    z-index: 5;
}

.icon_header img {
	height: 50px;
	width: 225px;
	display: block;
	float: left;
	clear: right;
}


.about_us_header img {
	height: 31px;
	width: 99.5px;
	display: inline;
	position: block;
	float: left;
	clear: right;
	padding-left: 0px;
	margin-top: -9px;
}

.our_team_header img {
	height: 31px;
	width: 103px;
	display: inline;
	position: block;
	float: left;
	clear: right;
	padding-left: 0px;
	margin-top: -9px;
}

.contact_us_header img {
	height: 31px;
	width: 118.5px;
	display: inline;
	position: block;
	float: left;
	clear: right;
	padding-left: 0px;
	margin-top: -9px;
}

.header_text {
	font-family: 'Calibri';
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: inline;
	position: block;
	float: left;
	clear: right;
	padding-left: 0px;
}

.header_text a {
	font-family: 'Calibri';
	font-weight: lighter;
	text-decoration: none;
	color: white;
	display: inline;
	position: block;
	float: left;
	clear: right;
	padding-left: 25px;
}

.header_text a:hover {
	text-decoration: underline;
}

.header_text ul {
	margin-top: 29px;
	width: 750px;
	position: block;
	float: left;
	clear: right;
}

.header_text li {
	display: inline;
	padding-right: 75px;
}

.about_hide {
	display: none;
}

 body {
 	margin: 0px 0px 0px 0px;
 	width: 100%;
 	height: 500px;
 	background-size: contain;
 }

 .wide_content {
    margin-top: -51px;
    padding-top: 0px;
    font-family: 'Calibri';
    color: black;
    float: left;
    clear: right;
    width: 100%;
}

.body {
	width: 90%;
	height: auto;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: rgb(255, 255, 255, 0);
}

.title_text {
	color: white;
	width: 100%;
	font-weight: 400;
	font-size: 28px;
	letter-spacing: .5px;
	padding-top: 5px;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(7, 135, 201, 1);
	height: 45px;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-color: rgba(34, 74, 124, 1);
	text-align: center;
}

.body_text {
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.body_text a {
	color: rgb(50, 49, 50);
	text-decoration: underline;
	outline: none;
}

.body_text a:hover {
	color: royalblue;
}

.plamen_name_text:focus ~ .plamen_body_text {
	display: block;
}

.plamen_name_text:hover {
	text-decoration: underline;
}

.plamen_name_text {
	display: block;
	color: rgba(34, 74, 124, 1);
	width: 90%;
	font-weight: 300;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.plamen_name_text a:hover {
	text-decoration: underline;
}

.plamen_body_text {
	display: none;
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.daniel_name_text:focus ~ .daniel_body_text {
	display: block;
}

.daniel_name_text:hover {
	text-decoration: underline;
}

.daniel_name_text {
	display: block;
	color: rgba(34, 74, 124, 1);
	width: 90%;
	font-weight: 300;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.daniel_name_text a:hover {
	text-decoration: underline;
}

.daniel_body_text {
	display: none;
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s ease;
}

.jay_name_text:focus ~ .jay_body_text {
	display: block;
}

.jay_name_text:hover {
	text-decoration: underline;
}

.jay_name_text {
	display: block;
	color: rgba(34, 74, 124, 1);
	width: 90%;
	font-weight: 300;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.jay_name_text a:hover {
	text-decoration: underline;
}

.jay_body_text {
	display: none;
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.shami_name_text:focus ~ .shami_body_text {
	display: block;
}

.shami_name_text:hover {
	text-decoration: underline;
}

.shami_name_text {
	display: block;
	color: rgba(34, 74, 124, 1);
	width: 90%;
	font-weight: 300;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.shami_name_text a:hover {
	text-decoration: underline;
}

.shami_body_text {
	display: none;
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

.position_text {
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: .5px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.city_text {
	color: rgba(34, 74, 124, 1);
	width: 90%;
	font-size: 20px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.address_text {
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.address_spacing_text {
	color: rgb(50, 49, 50);
	width: 90%;
	font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	padding-bottom: 25px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.address_text a {
	color: rgb(50, 49, 50);
	text-decoration: underline;
	outline: none;
}

.address_text a:hover {
	color: royalblue;
}

.avatar {
	display: inline;
	height: 65px;
	padding-left: 5px;
	padding-right: 5px;
}

#circle {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-image: url("MAvatar.png"); 
  background-position: center;
  background-size: 100%;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 90px;
  margin-left:10px;
  margin-top:10px;
  
}

#name{
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
  color: white;
  font-size: 24px;
  font-family: 'Calibri';
  font-weight: 300;
}

#position {
	position: absolute;
	margin-left: 25px;
	margin-top: 40px;
	color: white;
	font-size: 14px;
	font-family: 'Calibri';
	font-weight: 150px;
}

#box{
 	position: relative;
 	z-index: 0;
	margin-left: 0px;
	margin-right: 0px;
 	height: 75px;
 	background-color: rgba(7, 135, 201, 1);
 	border-radius: 10px 10px 10px 10px;
 	margin-bottom: 5px;
 	transition: all 0.5s ease;
}

#box:hover {
	background-color: rgba(34, 74, 124, 1);
}

#box:focus {
	height: 500px;
	transition: all 0.5s ease;
	outline: none;
	background-color: rgba(34, 74, 124, 1);
}

#box:focus #box2{ 
  height: 250px;
}

#box:focus #bio{ 
  display: block;
  height: 350px;
}


#box2{
  position:absolute;
  z-index: 1;
  width: 100%;
  height: 0px;
  background-color: rgba(34, 74, 124, 0);
  margin-top: 75px;
  transition: all 0.5s ease;
  border-radius: 0 0 10px 10px;
}


#bio{
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 75px;
  padding: 25px;
  color: white;
  display: none;
  width: 92.5%;
  height: 0px;
  z-index: 2;
  font-family: 'Calibri';
  font-weight: 200;
	font-size: 17.5px;
	letter-spacing: .5px;
	overflow-y: scroll;
}